.MarqueeContainer {
  min-height: 100%;
  margin-top: 10px;
}

.marquee-RightSide {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #131414;
}

.marquee-LeftSideMianTitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 145.4%;
  color: #131414;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.marquee-LeftSideSubTitle {
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  color: #131414;
}

.MarqueeContainer {
  --space: 10px;
  display: grid;
  align-content: center;
  gap: var(--space);
  width: 100%;
  font-family: "Corben", system-ui, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}

.marquee {
  --duration: 60s;
  --gap: var(--space);
  display: flex;
  overflow: hidden;
  user-select: none;
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll var(--duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .marquee__group {
    animation-play-state: paused;
  }
}

.marquee--borders {
  padding-block: 20px;
}

.marquee--reverse .marquee__group {
  animation-direction: reverse;
  animation-delay: calc(var(--duration) / -2);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@media screen and (min-width: 311px) and (max-width: 767px) {
  .MarqueeContainer {
    padding: 10px;
  }
  .marquee__group img {
    width: 180px;
    height: 100px;
  }
  .marquee-LeftSideSubTitle {
    font-weight: 700;
    font-size: 25px;
    line-height: 43px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 2560px) {
  .marquee-LeftSideSubTitle {
    text-align: start;
  }
  .marquee-LeftSideMianTitle {
    display: flex;
    justify-content: start;
  }
}
